# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\63 prf\hibernateRecordingTrial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
